deemix
faiss-cpu>=1.7.3
ffmpeg-python>=0.2.0
git+https://github.com/asukaa2/gradio1
lib
librosa
numpy
onnxruntime_gpu
praat-parselmouth>=0.4.2
pedalboard
pydub==0.25.1
pyworld
Requests
scipy
soundfile
--find-links https://download.pytorch.org/whl/torch_stable.html
torchcrepe==0.0.23
tqdm
yt_dl
sox
PolUVR[gpu]; sys_platform == 'linux' or sys_platform == 'win32'
PolUVR[cpu]; sys_platform == 'darwin'
